
.painelAdmin {
    margin-top: 2rem;
    background-color: #161b22;
    border: 1px solid #30363d;
    border-radius: 8px;
    padding: 1.5rem;
}

.painelAdmin h3 {
    color: #58a6ff;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    border-bottom: 1px solid #30363d;
    padding-bottom: 0.5rem;
}

.adminCard {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #0d1117; 
    border: 1px solid #30363d;
    border-radius: 6px;
    padding: 1rem 1.5rem;
    margin-bottom: 1rem;
}

.adminCard div {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.adminCard strong {
    font-size: 1.1rem;
    color: #c9d1d9;
}

.adminCard p {
    font-size: 0.9rem;
    color: #8b949e;
    margin: 0;
}

.adminCard .acoesDenuncia{
    display: flex;
    flex-direction: row;
    gap: 0.1rem;
    
}

.adminCard .acoesDenuncia button{
    width: 110px;
}
